.btn {
  background: #39B54A;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  line-height: 19px;
  padding: 18px 60px;
  position: relative;
}

.btn-sm-h {
  padding: 11px 57px;
}

.btn-xl {
  padding: 15px 96px;
}

.btn-xxl {
  padding: 16px 108px;
}

.btn-sm {
  padding: 27px 50px;
}

.btn-s {
  padding: 18px 60px;
}

.btn-after-plus {
  &:after {
    content: "";
    height: 2px;
    background-color: #fff;
    width: 39px;
    position: absolute;
    top: 26px;
    left: 32px;
    transform: rotate(90deg);
  }

  &:before {
    content: "";
    height: 2px;
    background-color: #fff;
    width: 39px;
    position: absolute;
    top: 26px;
    left: 31px;
    transform: rotate(0deg);
  }
}

.open-btn {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  color: #F68B1F;
  font-size: 14px;
  margin-bottom: 18px;

  &:hover {
    text-decoration: none;
  }
}

.holder-fixed-btn {
  border: solid 1px #808285;
  width: 90px;
  height: 85px;
  padding: 4px;
  border-radius: 50%;
  margin-bottom: 21px;
}

.holder-anchor {
  display: flex;

  a {
    font-size: 14px;
    margin-right: 7px;
  }

  img {
    height: 18px;
  }
}

.fixed-btn {
  position: fixed;
  bottom: 0;
  z-index: 20;

  a {
    display: block;
    background: #8ED8F8;
    width: 80px;
    border-radius: 50%;

    &:hover {
      border: solid 1px #003eff;
    }
  }

  .arrow-btn {
    padding: 26px 20px 18px;
  }

  .telephone-btn {
    padding: 17px 20px 11px 20px;
  }
}