.header {
  padding: 8px 0 7px;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .social-networks {
    display: flex;

    li {
      margin-right: 21px;

      i {
        font-size: 27px;
        border-radius: 5px;
      }
    }

    #select {
      border: none;
      padding: 3px;
      font-size: 20px;
      color: #58595B;
      font-family: 'Comfortaa', cursive;

      &:hover {
        color: #39B54A;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    margin-right: 29px;
  }

  .services {
    #select-2 {
      border: none;
      font-family: 'Comfortaa', cursive;
      font-size: 17px;
      color: #58595B;

      &:hover {
        color: #39B54A;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.banner {
  background: #F9FBF9 url("../images/banner.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 785px;
  padding-top: 215px;
  position: relative;
  margin-bottom: 246px;
}

.decoration {
  position: absolute;
  top: 12px;
  left: 134px;
}

.banner-text {
  max-width: 650px;

  h4 {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  h2 {
    font-size: 63px;
    line-height: 58px;
    margin-bottom: 21px;
  }

  p {
    padding-right: 100px;
    margin-bottom: 33px;
  }
}

.img-area {
  display: flex;
  position: relative;

  .text {
    padding: 62px 23px 83px 250px;
    position: absolute;
    right: 0;
    top: -45px;

    .bunny {
      position: absolute;
      right: 16px;
      top: -178px;
    }

    h5 {
      line-height: 37px;
    }

    h2 {
      font-size: 55px;
      line-height: 58px;
      text-align: left;
      margin-bottom: 33px;
    }

    .content {
      height: 270px;

      p {
        max-width: 535px;
      }
    }
  }
}

.service-text {
  max-width: 760px;

  h5 {
    line-height: 35px;
  }

  h3 {
    font-size: 55px;
    line-height: 58px;
    margin-bottom: 33px;
  }

  p {
    margin-bottom: 24px;
  }
}

.unique-block {
  position: relative;
  text-align: center;
  padding: 60px 35px;

  img {
    margin-bottom: 35px;
  }

  h3 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 50px;
  }
}

.prices {
  margin-bottom: 195px;
}

.prices-text {
  max-width: 880px;

  h5 {
    line-height: 35px;
  }

  h3 {
    font-size: 58px;
    line-height: 58px;
    margin-bottom: 34px;
  }
}

.bunny-2 {
  margin-top: -28px;
}

.prices-list {
  padding: 36px 95px 13px 58px;
}

.ui-icon {
  display: none;
}

.accordion-answers {
  width: 100%;
}

.ui-accordion .ui-accordion-header {
  background: #fff;
  color: #58595B;
  border: none;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
  width: 100%;
  border-radius: 53px;
  padding: 20px 77px 20px 70px;
  box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.06);

  &:focus {
    outline: none;
  }

  &:hover {
    background: #edf7f2;
  }
}

.ui-accordion-header-active {
  button {
    &:after {
      transform: rotate(-45deg);
    }

    &:before {
      transform: rotate(45deg);
    }
  }
}

.ui-accordion-content {
  padding: 0;
  border: none;
  height: 487px;
}

.accordion-block {
  h5 {
    font-size: 28px;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.doctors-text {
  max-width: 875px;
  margin-bottom: 115px;

  h5 {
    line-height: 35px;
  }

  h3 {
    font-size: 55px;
    line-height: 58px;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 24px;
  }
}

.doctor {
  position: absolute;
  top: -11%;
  right: 25%;
}

.holder-btn {
  display: flex;
  justify-content: center;
  margin-top: -60px;
}
