.border-bottom-8 {
  border-bottom: solid 1px #F1F1F1;
  padding-bottom: 7px;
  margin-bottom: 8px;
}

.z-index-5 {
  position: relative;
  z-index: 5;
}

.border-radius-25 {
  border-radius: 25px;
}

.border-radius-53 {
  border-radius: 53px;
}

.box-shadow {
  box-shadow: 0 0 8px 7px rgba(34, 60, 80, 0.02);
}

.max-width-445 {
  max-width: 445px;
}

.margin-bottom-46 {
  margin-bottom: 46px;
}

.margin-bottom-20 {
  margin-bottom: -20px;
}

.margin-bottom-190 {
  margin-bottom: 190px;
}

.padding-right-125 {
  margin-right: 125px;
}

.margin-top-50 {
  margin-top: -50px;
}

.margin-top-35 {
  margin-top: 35px;
}

.text-align-left {
  text-align: left;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex-2 {
  display: flex;
}

.display-flex-3 {
  display: flex;
  justify-content: space-between;
}

.color {
  color: #F68B1F;
}

.height-70 {
  height: 70px;
}

.flex-wrap {
  flex-wrap: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 15px;
  }
}